{{ define "habits_by_day" }}
<div class="card habits">
    <h2>Habits for {{ .Day }}</h2>
    <div class="list">
        {{ if .Habits }} {{ range .Habits }}
        <div
            id="habit-{{ .Habit.ID }}"
            hx-post="/habit/{{ .Habit.ID }}/toggle?date={{ $.SelectedDate | formatDate }}"
            hx-trigger="click"
            hx-target="this"
            hx-swap="outerHTML"
            class="habit-item {{ if .Completed }}habit-completed{{ else }}habit-pending{{ end }}"
        >
            <span class="habit-name">{{ .Habit.Name }}</span>
        </div>
        {{ end }} {{ else }}
        <p>No habits scheduled for {{ .Day }}.</p>
        {{ end }}
    </div>
</div>
{{ end }}
