{{ define "habit_item" }}
<div
    id="habit-{{ .ID }}"
    hx-post="/habit/{{ .HabitID }}/toggle?date={{ .Date | formatDate }}"
    hx-trigger="click"
    hx-target="this"
    hx-swap="outerHTML"
    class="todo-item {{ if .Completed }}list-item-checked{{ else }}list-item{{ end }}"
>
    <span class="habit-name">{{ .HabitName }}</span>
    {{ if .Completed }}
    <img
        class="habit-check"
        src="/static/images/svg/check.svg"
        alt="Completed"
    />
    {{ end }}
</div>
{{ end }}
