{{ define "mood_rating" }}
<div class="card" id="mood-rating-card">
    <h2>How is your day</h2>
    <form
        hx-post="/mood_rating"
        hx-target="#mood-rating-card"
        hx-swap="outerHTML"
        method="post"
        hx-trigger="change"
    >
        <div class="mood">
            <label>
                <input
                    type="radio"
                    name="rating"
                    value="1"
                    {{
                    if
                    eq
                    .Rating
                    1
                    }}checked{{
                    end
                    }}
                />
                <span>😞</span>
            </label>
            <label>
                <input
                    type="radio"
                    name="rating"
                    value="2"
                    {{
                    if
                    eq
                    .Rating
                    2
                    }}checked{{
                    end
                    }}
                />
                <span>🙁</span>
            </label>
            <label>
                <input
                    type="radio"
                    name="rating"
                    value="3"
                    {{
                    if
                    eq
                    .Rating
                    3
                    }}checked{{
                    end
                    }}
                />
                <span>😐</span>
            </label>
            <label>
                <input
                    type="radio"
                    name="rating"
                    value="4"
                    {{
                    if
                    eq
                    .Rating
                    4
                    }}checked{{
                    end
                    }}
                />
                <span>🙂</span>
            </label>
            <label>
                <input
                    type="radio"
                    name="rating"
                    value="5"
                    {{
                    if
                    eq
                    .Rating
                    5
                    }}checked{{
                    end
                    }}
                />
                <span>😄</span>
            </label>
        </div>
        <!-- If .Date is zero, use now; otherwise, use .Date -->
        <input
            type="hidden"
            name="date"
            value="{{ if .Date.IsZero }}{{ now | formatDate }}{{ else }}{{ .Date | formatDate }}{{ end }}"
        />
    </form>
</div>
{{ end }}
