{{ define "todos" }}
<div class="card todos">
    <h2>Today's Tasks</h2>
    <!-- Existing tasks will be listed here -->
    <div class="list" id="todo-list">
        {{ range .Todos }} {{ template "todos_item" . }} {{ end }}
    </div>
    <form
        hx-post="/todos"
        hx-target="#todo-list"
        hx-trigger="submit"
        hx-swap="afterbegin"
        method="post"
    >
        <input
            type="hidden"
            name="date"
            value="{{ .SelectedDate | formatDate }}"
        />
        <input type="text" id="text" name="text" placeholder="Add a new task" />
        <button type="submit">Add</button>
    </form>
</div>
{{ end }}
